.hidden-controls {
  outline: none;
  pointer-events: none;
}

.hidden-controls::-webkit-media-controls {
  display: none !important;
}

.hidden-controls::-webkit-media-controls-enclosure {
  display: none !important;
}
